<div class="container">
  <p>
    <span class="bold">物件名:</span>
    <%= @house.property_name %>
  </p>
  <p>
    <span class="bold">賃料:</span>
    <%= "#{@house.rent.to_s(:delimited)}円" %>
  </p>
  <p>
    <span class="bold">住所:</span>
    <%= @house.address %>
  </p>
  <p>
    <span class="bold">築年数</span>
    <%= "#{@house.age}年" %>
  </p>
  <p>
    <span class="bold">備考</span>
    <%= @house.note %>
  </p>
</div>

<% if @nearest_stations.present? %>
  <hr>

  <% @nearest_stations.each_with_index do |nearest_station, i| %>
    <h4>
      最寄り駅
      <%= i + 1 %>
    </h4>

    <div class="container">
      <p>
        <span class="bold">路線名</span>
        <%= nearest_station.route_name %>
      </p>
      <p>
        <span class="bold">駅名</span>
        <%= nearest_station.station_name %>
      </p>
      <p>
        <span class="bold">徒歩分数</span>
        <%= "#{nearest_station.time}分" %>
      </p>
    </div>
  <% end %>
<% end %>
<%= link_to '編集', edit_house_path(@house.id) %>|
<%= link_to '戻る', houses_path %>
